.search-box {
    flex: 1;
    position: relative;
    border: none;
    outline: none;
    box-shadow: none;
}
.search-box input {
    width: 100%;
    height: 30px;
    border: 0 !important;
    outline: 0 !important;
    border-radius: 999px;
    padding: 0 55px 0 20px;
    background: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    appearance: none !important;
    box-shadow: none !important;
    caret-color: var(--header-bg);
}
.search-box input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: #fff;
}
.search-box input::placeholder {
    color: #a0aec0;
}
.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #319795;
    pointer-events: auto;
    cursor: pointer;
}
.search-error{
    padding:10px 12px;
    color:#e53e3e;
    display:flex;
    align-items:center;
    gap:6px;
    font-size:12px;
}
.search-error-icon{
    font-size:10px;
}
.suggestion-box {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    z-index: 999999;
    border: none !important;
    outline: none !important;
    max-height:250px;
    overflow-y:auto;
}
[data-theme="dark"] .search-box input {
    background: #1a202c;
    color: #fff;
}
[data-theme="dark"] .search-box input::placeholder {
    color: rgba(255,255,255,0.7);
}
[data-theme="dark"] .search-icon {
    color: #4fd1c5;
}
[data-theme="dark"] .suggestion-box {
    background: #2d3748;
    color: white;
}
[data-theme="dark"] .suggestion-item:hover,
[data-theme="dark"] .suggestion-item.active{
    background:#1a202c;
}
[data-theme="dark"] .clear-history{
    color:#fc8181;
}
.suggestion-item{
    padding:12px 15px;
    cursor:pointer;
    font-size:13px;
    border-bottom:1px solid rgba(0,0,0,.05);
    transition:.2s;
}
.suggestion-item:last-child{
    border-bottom:none;
}
.suggestion-item:hover,
.suggestion-item.active{
    background:#e6fffa;
}
.suggestion-item.history{
    color:#4a5568;
}
.suggestion-item b{
    color:#319795;
}
.delete-history{
    margin-left:10px;
    cursor:pointer;
    font-size:12px;
}
.clear-history{
    padding:12px;
    text-align:center;
    color:#e53e3e;
    font-weight:600;
    cursor:pointer;
    transition:.2s;
    font-size: 12px;
}
.clear-history i{
    margin-right:6px;
    font-size:12px;
}
.clear-history:hover{
    opacity:.8;
}
[data-theme="dark"] .suggestion-item{
    border-bottom:1px solid #4a5568;
}
[data-theme="dark"] .suggestion-item:hover,
[data-theme="dark"] .suggestion-item.active{
    background:#1a202c;
}
[data-theme="dark"] .suggestion-item.history{
    color:#cbd5e0;
}
[data-theme="dark"] .suggestion-item b{
    color:#4fd1c5;
}